---
import Layout from "../layouts/Layout.astro";
import TextBasesAndConditions01 from "../components/TextBasesAndConditions01.astro";
import TextBasesAndConditions02 from "../components/TextBasesAndConditions02.astro";
import TextBasesAndConditions03 from "../components/TextBasesAndConditions03.astro";
import ImageHead from "../components/ImageHead.astro";
---

<Layout title="Bases y Condiciones | GQ">
  <main class="flex flex-col justify-center">
    <ImageHead />
    <div class="bg-[#e6e5e3] w-full">
      <div class="max-w-[1000px] m-auto mb-10">
        <TextBasesAndConditions01 />
        <TextBasesAndConditions02 />
        <TextBasesAndConditions03 />
      </div>
    </div>
  </main>
</Layout>
