<a href="https://grupoquijada.com.ar/" target="_blank">
  <img
    class="max-w-[1000px] m-auto mt-10"
    src="/images/Promocion_GQ_Bases-y-condiciones_GQ_marcas.svg"
    alt=""
  />
</a>

<a
  class="bg-[#2a2247] w-fit px-3 py-1 text-sm sm:text-2xl text-white font-semibold hover:bg-[#0ca3dd] transition-all text-center block mx-auto mb-4 sm:mb-6 mt-2"
  href="https://grupoquijada.com.ar/landing-bancor/"
>
  Conocé nuestros productos
</a>
