<div class="container m-auto p-4">
  <!--  <h1 class="text-2xl text-center mt-6 font-extrabold uppercase">
    Bases y Condiciones
  </h1>
  <h4 class="text-2xl text-center font-normal mb-3">Promo Reintegro</h4> -->
  <div class="flex flex-col gap-4">
    <p>
      10. la Concesionaria se reserva el derecho de ampliar el plazo de la
      Promoción por el tiempo que considere conveniente. En el caso de existir
      una ampliación del plazo de la Promoción el mismo será notificando con
      quince (15) días de anticipación a la finalización del programa en la
      página web y la Cartelería Institucional de la Empresa “la Concesionaria”.
    </p>
    <p>
      11. Esta campaña no permitirá ningún tipo de negociación con el Cliente,
      es decir, no existirán otro beneficio que el que se acuerda en las Bases y
      Condiciones de la Promoción.
    </p>
    <p>
      12. la Concesionaria se reserva la facultad de realizar promociones
      especiales entre los Clientes participantes de la Promoción las que,
      oportunamente serán puestas en su conocimiento a través su página web y/o
      su local comercial.
    </p>

    <p>
      13. La Concesionaria podrá requerir la presencia de los Clientes
      participantes, así como también publicar sus datos personales e incluso
      exhibir su imagen (foto y/o video) mediante cualquier acción publicitaria,
      de prensa, promoción, publicación y/o medio de difusión que considere
      conveniente, para lo cual los participantes otorgan expresa autorización
      para la utilización de su imagen y renunciando el Cliente a cualquier
      derecho a contraprestación o indemnización alguna por el uso de su imagen
      personal.
    </p>

    <p>
      14. Los datos personales de los Clientes que no hayan participado en las
      acciones descriptas en el punto precedente serán mantenidos en
      confidencialidad.
    </p>
    <p>
      15. Los Clientes participantes en la Promoción aceptan todos las Bases y
      Condiciones de la misma con la sola suscripción de la Oferta de Compra del
      Vehículo y de la toma del Crédito en las siguientes entidades financieras
      ROMBO COMPAÑÍA FINANCIERA S.A. y BANCO PROVINCIA DE CORDOBA SA para la
      cancelación del vehículo cuya compra se oferto.
    </p>
    <p>
      16. Las Bases y Condiciones podrán ser modificadas por las Concesionarias
      del Grupo Quijada, siempre y cuando no alteren las condiciones básicas de
      la Promoción, sin tener derecho a reclamo alguno por las personas que
      participen de esta promoción.
    </p>
    <p>
      17. La Concesionaria se reserva el derecho de modificar, ampliar y/o
      aclarar las presentes Bases y/o cualquiera de los procedimientos aquí
      previstos que se deba realizar por causas ajenas y no imputables a la
      Empresa. En caso de ocurrir tales variaciones sustanciales, la
      Concesionaria dejará constancia de las mismas en su local comercial.
    </p>
    <p>
      18. La Concesionaria no se responsabiliza por cualquier tipo de uso
      diferente al asignado en estas Bases y Condiciones a la Promoción que
      perjudique al Cliente participante y/o a cualquier Tercero.
    </p>
    <p>
      19. Los Tribunales Ordinarios de la Ciudad de Córdoba serán competentes
      para entender en cualquier caso controversial que se suscite en ocasión
      del cumplimiento de las presentes Bases y Condiciones.
    </p>

    <a
      href="https://grupoquijada.com.ar/"
      class="bg-[#2a2247] w-fit px-3 py-1 text-white font-semibold hover:bg-[#0ca3dd] transition-all"
    >
      Volver al sitio
    </a>
  </div>
</div>
